.select .main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}

.title:hover {
    background: #1ea7fd;
    cursor: pointer;
}